  .container-movies {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px 1rem 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap:1rem;
  }
  
    
  