.container-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    height: calc(100vh - 8rem);
    align-items: center;
    /* justify-content: center; */

}

.form-upload {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  */
    width: 30rem;
    text-align: center;

 
}

.form-upload input {
    width: 30rem;
    border: none;
    background-color: transparent;
    color: rgb(205, 205, 205);
    font-size: 2rem;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: Montserrat;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid grey;
}

/* .form-upload button {
    width: 20rem;
} */

