.container-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    height: calc(100vh - 8rem);
    align-items: center;

}

.container-form .form-upload {
    width: 30rem;
    text-align: center;

 
}

.container-form .form-upload input {
    width: 30rem;
    border: none;
    background-color: transparent;
    color: rgb(205, 205, 205);
    font-size: 2rem;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: Montserrat;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid grey;
}

.container-form .form-upload textarea {
    width: 30rem;
    height: 13rem;
    border: none;
    background-color: transparent;
    color: rgb(205, 205, 205);
    font-size: 2rem;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: Montserrat;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid grey;

}


.container-form .form-upload button {
    height: 5rem;
    padding: 0 3rem 0 3rem;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(197, 196, 196);
    border: 3px solid rgb(62, 62, 62);
    cursor: pointer;
    transition: border-color 0.3s ease;
    text-align: center;
}

.container-form .form-upload button:hover {
    border: 3px solid #bb2121;
}

.container-form .form-upload button a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.container-form .link-delete-movie {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    text-decoration: none;
    color: #bb2121;
    transition: color ease 0.3s;
}

.container-form .link-delete-movie:hover{
    color: rgb(209, 209, 209);
}


.container-form-delete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    height: calc(100vh - 8rem);
    align-items: center;
}

.container-form-delete ul {
    list-style-type: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

}

.container-form-delete button {
    padding: 0.4rem 1rem 0.4rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(219, 219, 219);
    font-size: 2rem;
    font-weight: 600;
    font-family: Montserrat;
    transition: color ease 0.3s;
}

.container-form-delete button:hover {
    color :#bb2121;
}



