.container {
    position: fixed;
    display: flex;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #111111, #6e6e6e);
  
  }
  
  
  .container .login {
    /* background-color: red; */
    text-align: center;
  
  }
  
  .login .form-login {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
  }
  
  .login .form-login .input-form-login {
    font-size: 1.5rem;
    font-family: Montserrat;
    color:#6e6e6e;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border: none;
    height: 2rem;
    border-radius: 5px;
    width: 20rem;
  }
  
  .login p{
    margin-bottom: 40px;
  } 

  .login .form-login button {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 600;
    padding: 2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #777;
  }
  
  .login .form-login button a {
    text-decoration: none;
    color: #777;
  
  }
  
  .login .form-login button:hover {
    
    border: 3px solid #bb2121;
  }
  

  /* BOTON CHACHI */

  /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #bb2121;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #777;
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.button:hover a{
  text-decoration: none;
  color: #bb2121;
}

.hover-text a{
  text-decoration: none;
  color: #bb2121;
} 