
.container-movie-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 3rem 30px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.container-movie-detail .movie-data {
    width: 100%;
}

.container-movie-detail h3 {
    font-size: 2.2rem;
}

.container-movie-detail h4 {
    margin-top: 20px;
    font-size: 1.5rem;
}
.container-movie-detail h5 {
    margin-top: -40px;
    font-size: 16rem;
}

.container-movie-detail img {
    height: 40rem;
    border-radius: 15px;
    border: 2px solid grey;

}

.container-movie-detail ul {
    list-style: none;
}

.container-movie-detail ul .genre-list {
    background-color: #bb2121;
    color: white;
    padding: 0.5rem;
    margin:1rem 0 1rem 0 ;
    width: 5rem;
    text-align: center;
    font-weight: 600;
}


.container-movie-detail .movie-data .score-back {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.container-movie-detail button {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 600;
    height: 4rem;
    width: 8rem;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #777;
  }
  
  .container-movie-detail  button a {
    text-decoration: none;
    color: #777;
  }
  
  .container-movie-detail button:hover {
    border: 3px solid #bb2121;
  }